/*----- Flickr Styles ----- */
.photoGrid {
    overflow: auto;
    border: 1px solid black;
    height: auto;
    padding: 5px;
    width: 60%;
    text-align: center;
}

.photo {
    border: 1px dashed Gray;
    float: left;
    margin: 8px;
    padding-top: 6px;
    position: relative;
}

/*----- End Flickr Styles ----- */

/*----- Twitter Styles ----- */
.tweet {
    border-bottom: 1px dashed Gray;
    text-align: left;
    vertical-align: top;
    margin: 2px;
    width: 600px;
    height: 65px;
}

.tweetText {
    text-align: left;
    word-wrap: normal;
    vertical-align: top;
    margin-left: 4px;
    display: inline;
    height: 100%;
}

.profileImg {
    float: left;
}

.source {
    color: darkgray;
    font-size: 13px;
    margin-left: 4px;
}

#lastStatus {
    border: 2px solid;
    width: 600px;
    margin-bottom: 30px;
}

/*----- End Twitter Styles ----- */

/*----- Common Styles ----- */
body {
    font: 12px / 18px "Helvetica", Arial, Verdana, sans-serif;
    background-color: #fff;
    color: #333;
}

a {
    color: #016C96;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

tbody {
    border-top: none;
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

sup {
    padding-left: 1px;
    font-size: 10px !important;
    font-weight: normal !important;
    vertical-align: baseline;
    position: relative;
    bottom: 0.33em;
    color: #76797c;
    _position: static !important;
}

p {
    margin-bottom: 18px;
}

h1 {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 12px;
    margin-top: 0px;
}

h2 {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
    margin-top: 0px;
}

h3 {
    font-weight: bold;
    font-size: 1em;
    line-height: 18px;
}

h4 {
    font-weight: bold;
    font-size: 10px;
    line-height: 18px;
}

p.intro {
    font-weight: bold;
}

ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

ol {
    margin-left: 20px;
    padding: 0;
    list-style-position: outside;
    margin-bottom: 10px;
}

ul li {
    margin: 10px;
    padding: 0;
    list-style-position: inside;
}

ul.square,
    ul.circle {
    margin-left: 2em;
    list-style-position: inside;
}

/*----- End Common Styles ----- */