<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">

    <parent>
        <groupId>org.mule.ibeans</groupId>
        <artifactId>mule-ibeans</artifactId>
        <version>${ibeansVersion}</version>
    </parent>

   <modelVersion>4.0.0</modelVersion>
   <groupId>${groupId}</groupId>
   <artifactId>${artifactId}</artifactId>
   <packaging>war</packaging>
   <name>${ModuleName}</name>
   <version>${version}</version>
   <description>${description}</description>

   <properties>
        <webappName>${artifactId}</webappName>
        <ibeans.version>${ibeansVersion}</ibeans.version>
        <!-- Tools properties -->
        <eclipsePluginVersion>2.5</eclipsePluginVersion>
        <vmtype>org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType</vmtype>
        <jdk5Name>jdk5</jdk5Name>
        <jdk.version>1.5</jdk.version>
    </properties>

    <developers>
        <developer>
            <name>${user}</name>
        </developer>
    </developers>

    <licenses>
        <license>
            <name>CPAL v1.0</name>
            <url>http://www.mulesoft.com/CPAL/</url>
        </license>
    </licenses>

    <build>
        <defaultGoal>tomcat:run</defaultGoal>
        <plugins>
             <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-war-plugin</artifactId>
                <configuration>
                    <warName>${webappName}</warName>
                </configuration>
            </plugin>

            <plugin>
                <groupId>org.codehaus.mojo</groupId>
                <artifactId>tomcat-maven-plugin</artifactId>
                <version>1.0-beta-1</version>
                <configuration>
                    <path>/</path>
                    <port>8888</port>
                </configuration>
            </plugin>

        </plugins>
    </build>

   <dependencies>
        <dependency>
            <groupId>org.mule.ibeans</groupId>
            <artifactId>ibeans-core</artifactId>
            <version>${version}</version>
        </dependency>

        <dependency>
            <groupId>org.mule.ibeans</groupId>
            <artifactId>ibeans-module-http</artifactId>
            <version>${version}</version>
        </dependency>

        <dependency>
            <groupId>org.mule.ibeans</groupId>
            <artifactId>ibeans-module-atom</artifactId>
            <version>${version}</version>
        </dependency>

        <dependency>
            <groupId>org.mule.ibeans</groupId>
            <artifactId>ibeans-module-jms-client</artifactId>
            <version>${version}</version>
        </dependency>

        <dependency>
            <groupId>org.mule.ibeans</groupId>
            <artifactId>ibeans-module-email</artifactId>
            <version>${version}</version>
        </dependency>

        <dependency>
            <groupId>org.mule.ibeans</groupId>
            <artifactId>ibeans-module-xml</artifactId>
            <version>${version}</version>
        </dependency>

        <dependency>
            <groupId>org.mule.ibeans</groupId>
            <artifactId>ibeans-module-guice</artifactId>
            <version>${version}</version>
        </dependency>

        <dependency>
            <groupId>org.mule.ibeans</groupId>
            <artifactId>ibeans-module-ajax</artifactId>
            <version>${version}</version>
        </dependency>

        <dependency>
            <groupId>org.mule.ibeans</groupId>
            <artifactId>ibeans-module-scheduler</artifactId>
            <version>${version}</version>
        </dependency>

        <dependency>
            <groupId>org.mule.ibeans</groupId>
            <artifactId>ibeans-module-rest</artifactId>
            <version>${version}</version>
        </dependency>
    </dependencies>
</project>
