<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>Mule iBeans Examples</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!--<servlet>-->
    <!--<servlet-name>ajax</servlet-name>-->
    <!--<servlet-class>org.mule.ibeans.web.IBeansAjaxServlet</servlet-class>-->
    <!--</servlet>-->

    <servlet>
        <servlet-name>mule-ibeans</servlet-name>
        <servlet-class>org.mule.ibeans.web.IBeansServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>json-rpc</servlet-name>
        <servlet-class>org.mule.ibeans.web.IBeansRpcServlet</servlet-class>
        <init-param>
            <param-name>gzip_threshold</param-name>
            <param-value>200</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>json-rpc</servlet-name>
        <url-pattern>/ibeans/json-rpc/*</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>mule-ibeans</servlet-name>
        <url-pattern>/ibeans/*</url-pattern>
    </servlet-mapping>

    <!--<servlet-mapping>-->
    <!--<servlet-name>ajax</servlet-name>-->
    <!--<url-pattern>/ibeans/ajax/*</url-pattern>-->
    <!--</servlet-mapping>-->
</web-app>